<section class="container">
  <div class="home">
    <div class="content">
      <div class="image-container">
        <img
        src="./assets/img/avatar-julian.png"
        class="avatar-julian">
      </div>
      <div class="content2">
        <h1 class="text">
          <span>{{ text1 }}</span>
          <span class="image-hello">
            <img
            src="./assets/img/hello.png"
            class="hello"
            >
          </span>
          <span>{{ text2 }}</span>
        </h1>
        <h2 class="text2"> {{ text3 }}</h2>
      </div>
    </div>
  </div>
  <div class="bounce-finger">
    <a href="#content">
      <img
      src="./assets/img/finger.png"
      class="finger"
      >
    </a>
  </div>
</section>
