<div class="container">
  <div class="home">
    <img
      src="./assets/img/avatar-julian.png"
      class="avatar-julian">
    <h1 class="text">
      <span>¡Hola</span>
      <img
        src="./assets/img/hello.png"
        class="hello"
        loading="lazy">
      <span>!</span>
      <p>Soy Julián</p>
    </h1>
    <h2 class="text2">
      Desarrollador Front End
    </h2>

    <div class="bounce-finger">
      <img
      src="./assets/img/finger.png"
      class="finger">
    </div>
  </div>
</div>




















<!-- <div style="position: absolute; top: 50%;
left: 50%;
transform: translate(-50%, -50%)">
  <div class="vertical-center">
    <img
      src="../../assets/img/avatar-julian.png"
      alt="avatar-julian"
      width="190"
      height="190"
    />
  </div>
  <section>
    <h1 style="font-family: 'Inter', sans-serif; font-size: 90px; background: linear-gradient(to bottom, #ffcc00, #ff3300); -webkit-background-clip: text; background-clip: text; color: transparent; display: inline-block;">
      <span>Hola</span>
      <span>
        <img
          src="../../assets/img/hello.png"
          alt="avatar-julian"
          width="80"
          height="80"
        />
      </span>

      <span>, soy Julián</span>

    </h1>
  </section>



</div>
 -->
