<div class="container">
  <div class="home">
    <img
      src="./assets/img/avatar-julian.png"
      class="avatar-julian">
    <h1 class="text">
      <span>{{ text1 }}</span>
      <img
        src="./assets/img/hello.png"
        class="hello"
        loading="lazy">
      <span>{{ text2 }}</span>
    </h1>
    <h2 class="text3">{{ text3 }}</h2>
  </div>
</div>
<div class="bounce-finger">
  <img
  src="./assets/img/finger.png"
  class="finger">
</div>




















<!-- <div style="position: absolute; top: 50%;
left: 50%;
transform: translate(-50%, -50%)">
  <div class="vertical-center">
    <img
      src="../../assets/img/avatar-julian.png"
      alt="avatar-julian"
      width="190"
      height="190"
    />
  </div>
  <section>
    <h1 style="font-family: 'Inter', sans-serif; font-size: 90px; background: linear-gradient(to bottom, #ffcc00, #ff3300); -webkit-background-clip: text; background-clip: text; color: transparent; display: inline-block;">
      <span>Hola</span>
      <span>
        <img
          src="../../assets/img/hello.png"
          alt="avatar-julian"
          width="80"
          height="80"
        />
      </span>

      <span>, soy Julián</span>

    </h1>
  </section>



</div>
 -->
