---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Mi Portafolio">
  <main>
	<section class="w-full mx-auto lg:w-[740px] py-44">
		<h1 class="text-7xl font-bold">Hola, soy Julián</h1>
		<h2 class="text-2xl font-medium">Desarrollador web y diseñador gráfico</h2>
		<p class="text-lg">Estoy interesado en la interacción entre humanos y máquinas</p>
	</section>
  </main>
</Layout>