<header class="flex justify-between items-center py-3 w-[1120px]">
    <img src="/public/images/julian.jpg" alt="logo" class="w-12 h-12 rounded-full border-1 border-white" />
    <nav class="flex gap-10">
        <a href="/home">Home</a>
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
    </nav>
</header>